
form h2{

    font-family: 'Oswald', sans-serif;
}

ul a {
    font-family: 'Oswald', sans-serif;
}

div .error{
    background-color:#b63f39;
    padding:1rem;
    color:#fff;
    font-size:15px;
    text-transform: uppercase;
    font-weight:bold;
    text-align:center;
    font-family:'Oswald', cursive;
}
